type dpmd_product_exec, exec_type, system_file_type, file_type;

allow init dpmd_product_exec:file { execute execute_no_trans getattr map read open };
